#logo{
	display: block;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.textoentrada{
	width: 577px;
    height: 48px;
	margin-left: 50px;
}

#descripcion{
	float:left;
	margin-left: 50px;
}

#resultado{
	float:right;
	margin-right:50px
}

#textosalida{
	align: center;
	font-weight: bold;
}

footer{
	clear:both;
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 98%;
}